{% extends 'base.html' %}
{% from 'form_macros.html' import render_field %}
{% block content %}
<div class="container p-5 bg-light shadow rounded mt-5">
    <h1 class="fs-3 fw-bold border-bottom pb-3 mb-4 text-center text-primary">Change Password</h1>
    <form method="post" action="{{ url_for('users.change_password') }}" novalidate class="needs-validation">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ render_field(form.current_password, class_="form-control", placeholder="Enter your current password") }}
        </div>
        <div class="mb-3">
            {{ render_field(form.new_password, class_="form-control", placeholder="Enter your new password") }}
        </div>
        <div class="mb-3">
            {{ render_field(form.confirm_password, class_="form-control", placeholder="Confirm your new password") }}
        </div>
        <div class="text-center">
            {{ form.submit(class="btn btn-primary px-4 py-2") }}
        </div>
    </form>
</div>
{% endblock %}